<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laquerrehugo.app.ay">

    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ay_circle_wine"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ay_circle_wine"
        android:supportsRtl="true"
        android:theme="@style/Material.Red">
        <activity
            android:name=".views.PutActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.ThanksActivity" />
    </application>

</manifest>